*{
    box-sizing: border-box;

    
    }

body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}

header{
    padding: 5px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color:slateblue;
    font-size: x-large;
}



.hero{
    background-image: url(/img/SS_logo_big.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    position: relative;
    
}

nav{
   
    display: flex;
    flex-direction: row;
    background-color: #333;
    justify-content: center;
}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    margin: 10px
}
    
.row{
    font-display:auto ;
    -ms-flex-wrap: initial;
}



section{
    flex: 70%;
    background-color: rgb(83, 205, 116);
    padding: 20px;
    color: rgb(0, 0, 0);
}

footer{
    padding: px;
    text-align: center;
    background-color: rgb(0, 0, 0);
}    

#formulario{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 2px;

}

.box{
    display: inline-flex;
    flex-flow: column wrap;
    border: 1px solid black;
    border-radius: 50px 50px 0px 0px;
    height: auto;
    padding: 19px;
    width: 320px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
}

.box img{
    width: 200px;
    height: 250px;
    align-self: center;
}


.box h3{
    text-align: center;
}

.box p{
    text-align: justify;
}

.box button{
    border-radius: 10px 0px 10px 0px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(10, 152, 187);
    float: center;
    
}
h2{
    text-transform: uppercase;
    text-align: center;
}
h5{
text-align: justify;
}
.container{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.carta{
    height: 100px;
    width: 100px;
}
footer{
    color: white;
    font-size: 25px;
}
.imagenes{
    position: relative;
        height: 120px;
        
    background-repeat: no-repeat;
    background-size: cover;
  
    position: relative;

}
.formulario2 {
    background-color: rgb(40, 153, 81);
    width: min( 50rem, 100% ); /** Utilizar el valor más pequeño **/
    margin: 0 auto;
    padding: 2rem;
    align-items: center;
   
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: var(--blanco);
}
.campo {
    margin-bottom: 1rem;
}
.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.campo textarea {
    height: 20rem;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .contenedor-campos2 {
        
        display:inline;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 10rem ;
        column-gap: 1rem;

       
    }
}



@media (min-width: 768px) {
    .imagenes {
        position: relative;
        height: 350px;
       
    background-repeat: no-repeat;
    background-size: cover;
  
    position: relative;
    }
}
@media (min-width: 768px) {
    .hero {
        position: relative;
        height: 450px;
        background-image: url(/img/SS_logo_big.png);
    background-repeat: no-repeat;
    background-size: cover;
  
    position: relative;
    }
}